html{
	font-size:62.5%;
}

body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color:#37474F;
	font-size: 1.6rem;

}
.page-header{
	position: absolute;
	padding: 20px;
	padding-top: 28px;
	width: 100%;
	box-sizing:border-box;
}

.page-nav .hamburger{
	border:0;
	background:0;
	position: absolute;
	right: 20px;
	top:20px;
	fill:#ffffff;
	width: 30px;
	height: 30px;
}

.page-nav .hamburger .hamburger-icon {
	width: 18px;
	height: 6px;
}
.page-nav .hamburger .close-icon {
	display: none;
	width: 14px;	
}

.page-nav .navigation-menu{
	list-style: none;
	padding:0;
	margin: 0;
	display: none;
	width: 100%;
	text-align: center;
}

.page-nav .navigation-menu li{
	border-bottom: 1px solid #f5f7f8;
	padding-top: 15px;
	padding-bottom: 15px; 

}
.page-nav .navigation-menu li a{
	color: #000000;
	text-decoration: none;
	font-size: 1.4rem;
}
.page-nav .navigation-menu li.sing-up{
	border:0;
	margin-top:30px;
}
.page-nav .navigation-menu li.sing-up a{
	border:2px solid #00baa5;
	border-radius: 25px;
	padding-right: 20px;
	padding-left: 20px;
}


.page-logo{
	fill:#ffffff;
	width: 100px;
}

.article .article-header{
	background:url('https://upload.wikimedia.org/wikipedia/commons/4/43/DSC26477,_Crystal_Jelly_(%22Aequorea_Victoria%22),_Monterey_Bay_Aquarium,_Monterey,_California,_USA_(5084798619).jpg');
	box-sizing: border-box;
	background-size: cover;
	background-position: 50%;
	color: #ffffff;
	padding:20px;
	padding-top:100px;
	text-align: center;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	flex:1 1 0;

	}

.article-title{
	margin: 0;
	font-weight: normal;
	font-size: 4.1rem;
	padding-bottom: 24px;
	margin: 0;

}	
.article-author-photo{
	 max-width: 60px;
	 border-radius: 50%;
	 margin-bottom: 25px;
}
}
.article-container,
.article-sidebar{
	padding:15px;
	box-sizing: border-box;
}
.article-sidebar{
	border-top: 1px solid #eceff1;
	border-bottom: 1px solid #eceff1;
	padding-top: 82px;
	padding-bottom: 82px;
	margin-top: 104px;
	margin-bottom: 104px;
	max-width: calc(100% - 30px);
	margin: auto;
	padding-right: 0;
	padding-left: 0;
}

.article-content p{
	margin-bottom: 35px;
}
.article-sidebar .article-picture img{
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
}
.article-sidebar .article-picture{
	margin:0;
	margin-bottom: 70px;
}
.article-sidebar .article-picture .caption{
	color:#78909c;
	font-styl: italic;
	text-align: center;
}
.page-header.nav-opened{
	background:#ffffff;
	box-shadow: -1px 9px 19px -8px rgba(0,0,0,0.5)
}
.article-lead{
	font-size:2.1rem;
	font-weight: 300;
	padding-bottom: 44px;
	margin:0;
}
.page-header.nav-opened .page-logo{
	fill:#000000;
}
.page-header.nav-opened .page-nav .hamburger{
	fill:#000000;
}
.page-header.nav-opened .page-nav .hamburger .hamburger-icon{
	display:none;
}
.page-header.nav-opened .page-nav .hamburger .close-icon{
	display:inline-block;
}
.page-header.nav-opened .navigation-menu{
	display: block;
}
.article-author-name{
	color:#17c4ad;
	font-size: 1.4rem;
	margin: 0;
}
.article-date{
	font-size: 1.4rem;
}
.article-author-name::after{
	content:"\00b7";
	display: block;
	color:#ffffff;
	font-size: 2rem; 
}
.article-container{
	padding:15px;
	padding-top: 82px;
	line-height: 26px;
}
.article-container p{
	margin-top: 0;
}
.page-footer{
	text-align: center;
	background-color:#f5f7f8;
	padding-top:74px;
	padding-bottom: 48px;
}
.page-footer .navigation-menu{
	list-style: none;
	margin:0;
	margin-bottom: 55px;
	padding:0;


}
.page-footer .navigation-menu li{
	margin-bottom: 35px;
}
.page-footer .navigation-menu li a{
	color: #00bfa5;
	text-decoration: none;
}
.page-footer .navigation-menu li:last-child{
	margin:0;
}
.page-footer .copyright{
	margin: 0;
	color:#78909c;
}
.page-footer .company-logo{
	fill:#78909c;
	width: 105px;
}

@media (min-width: 40em){
 
.page-header{
	max-width: 1020px;
	margin: auto;
	left: 0;
	right: 0;
}
.page-nav .hamburger{
display: none;
}
.page-nav{
	position: absolute;
	top:20px;
	right: 20px;
}
.page-nav .navigation-menu{
	display: block;
}
.page-nav .navigation-menu li{
	display: inline-block;
	border:0;
	margin-right: 48px;
}
.page-nav .navigation-menu li:last-child{
	margin:0;
}
.page-nav .navigation-menu li a{
	color:#ffffff;
}
.article-content{
	max-width: 1020px;
	margin:auto;
}
.article-container{
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-left: 0;
    padding-right: :0;
    /*można to zrobić z funkcją display:flex; jedyny minus, że jak mamy mało tekstu to nie podzieli nam tego na kolumny.*/
	margin-bottom: 80px;
}
.article-sidebar{
	margin: 0;
}
.article-sidebar-content{
 	max-width: 680px;
 	margin: auto;
}
.article .article-header{
	padding-top: 200px;
	padding-bottom: 92px;
}
